<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>NewTest.test2()[pri:0, instance:com.group.test.NewTest@293a5bf6]<br/></td></tr>
<tr><td>funtional</td><td>NewTest.test1()[pri:0, instance:com.group.test.NewTest@293a5bf6]<br/></td></tr>
<tr><td>sanity</td><td>NewTest2.test7()[pri:0, instance:com.group.test.NewTest2@3ce1e309]<br/>NewTest.test2()[pri:0, instance:com.group.test.NewTest@293a5bf6]<br/></td></tr>
</table>
