<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d70bd">  <td>24/02/22 16:23:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.test7()[pri:0, instance:com.group.test.NewTest2@3ce1e309]">test7</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>24/02/22 16:23:30</td>   <td>199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test2()[pri:0, instance:com.group.test.NewTest@293a5bf6]">test2</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>24/02/22 16:23:30</td>   <td>191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test1()[pri:0, instance:com.group.test.NewTest@293a5bf6]">test1</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>24/02/22 16:23:30</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.test3()[pri:0, instance:com.group.test.NewTest@293a5bf6]">test3</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
